.user-info-card {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.user-info {
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
