@import '../../styles/colors.scss';

.dialogs-window {
  border-radius: 1rem 0 0 1rem;
  width: 45%;
  height: 600px;
  background: #f2f2ff;
}

.start-btn-container {
  text-align: center;
  .start-btn {
    margin: 1rem;
  }
}
